var formatDate = function (d) {
  const date = new Date()
  var year = date.getFullYear()
  var month = date.getMonth()
  const day = date.getDate()
  return [
    year,
    month.toString().padStart('0', 2),
    day.toString().padStart('0', 2)
  ].join('-')
}

module.exports = {
  formatDate: formatDate
}